.App, .gameWrap {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid black;
}

.bottom-table {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  background: #ffffff;
  margin: 0 1em 1em 0;
  height: 450px;
  width: 900px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}

.center {
  text-align: center;
}

.card {
  padding: 5px; 
  padding-top: 10px;
  align-items: center;
}

#top-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  align-self: flex-start;
  align-items: stretch;
}